h1{

    color:red;
    font-size: 90px;
    text-align: center;
    margin-top: -10px;
    position: sticky;
top: 20px;
     }

h2 {
border: 1px solid rgb(55, 13, 13);
}


.gray {
position: relative

}

.red{
background-color: red;
position: absolute;
bottom: 5px;
left: 5px;
height: 20px;
width: 80px; 
}